<configuration>
    <property name="fileName" value="mci-api-rest" />
    <property name="basePath" value="logs" />

    <appender name="stdout"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n
            </Pattern>
        </encoder>
    </appender>
    <appender name="mainAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${basePath}/${fileName}.log</file>
        <encoder
                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                [%d{yyyy/MMM/dd HH:mm:ss.SSS}] %-5p %C-\(%L\) %m%n
            </Pattern>
        </encoder>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${basePath}/${fileName}.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="nopAppender"
              class="ch.qos.logback.core.helpers.NOPAppender">
    </appender>

    <logger name="sun.rmi" level="debug" additivity="false">
        <appender-ref ref="nopAppender" />
    </logger>

    <logger name="APP_LOG" level="info" additivity="false">
        <appender-ref ref="mainAppender" />
    </logger>

    <springProfile name="default,local,qa-primario">
        <root level="info">
            <appender-ref ref="stdout" />
            <appender-ref ref="mainAppender" />
        </root>
    </springProfile>

</configuration>